DOMAIN: x3huang.dev
IMAGE_REPOSITORY: {{ env "IMAGE_REPOSITORY" | default "" }}
IMAGE_TAG: {{ env "IMAGE_TAG" | default "" }}

configMapData:
  config.yaml: |
{{ readFile "../../configs/config.yaml" | indent 4 }}
